


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body
{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;

}
label
{
    font-size: 30px;
    font-weight: 700;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #b9e3fc;
    width: 48%;
    margin-bottom: 30px;
}

.nav-links 
{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    color: black;
    margin-right: 40px;
    font-size: 20px;
    cursor: pointer;
}
.nav-links ul li::after
{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    transition: .2s;
    background-color: rgb(241, 119, 62);
}
.nav-links ul li:hover::after
{
    width: 100%;
}


.section-title
{
    color: #F62EFF;
    font-size: 24px;
    margin-top: 3px;

}
.container
{
    background-color: white;
    padding: 30px 30px 30px 30px ;
    width: 870px;
    margin-top: 21px;
    border-radius: 5px;
}

.players
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap :20px;

}
.player img
{
    width: 56px;
    height: 56px;
}
.player
{
    display: flex;
    align-items: center;
}
.player-name
{
    margin-left: 16px;
    font-size: 18px;
}

hr{
    border: 2px solid #d1d1d1;
    margin-bottom: 27px;
}
.top-players
{
    margin-bottom: 20px;
}
.blogs
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;

}
   
.blog{
    display: flex;
    text-align: justify;
    margin-right: 20px;
    text-align: justify;
   
}
.blog .thumbnail img{
    width: 150px;
    height: 117px;
   
}
.blog-info
{
    margin-left: 16px;
}
.blog-title
{
    font-size: 20px;

}
.blog-author
{
    font-size: 16px;
    color: #9f9f9f;
}
.courses
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
  
    
}
.course{
    box-shadow: 3px 3px 3px 3px  gray;
    border-radius: 10px;
    height: 85%;
    width: 90%;
    padding: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-bottom: 10px;
  
    
}

.course .course-banner img

{
 width: 244px;
 height: 104px;
}
.course-info
{
    display: flex;
    align-items: center;
}
.fa-star.filled
{
    color: #ffc014;
}
.fa-star.empty
{
    color: #aeaeae;
}
.fa-star
{
    font-size: 12px;
}
.course-duration
{
    background-color: lightsalmon;
}

footer
{
    height: 50%;
    width: 52.25%;
    text-align: center;
    background-color: #b9e3fc;
}



@media only screen and (max-width: 688px)
 {

    .container{
        width: 100%;
    }
    .players
    {
       
        grid-template-columns: repeat(1,1fr);
    }
    .player{
        flex-direction: column;
    }
  
    .blogs
    {
       
        grid-template-columns: repeat(1,1fr);
    }
    .blog
    {
        flex-direction: column;
        align-items: center;
       
    }
    .courses
    {
       
        grid-template-columns: repeat(1,1fr);
        align-items: center;
       
    }
    .course
    {
        flex-direction: column;
        margin-bottom: 20px;
        margin-top: 10px;
        
    }
    nav
    {
        width: 100vw;
        display: block;
        padding: 10px;
        margin: 0;
    }
    nav ul{
        width: 100vw;
        display: block;
        padding: 0;
    }
    nav ul li
     {
      text-align: center;
      margin-bottom: 10px;
    }
}
/*tablet devices*/
@media only  screen  and (min-width: 688px) and (max-width: 992px)
{
    .container{
        width: 100%;
        align-items: center;
    }
    .players, .courses{
        grid-template-columns: repeat(1,1fr);
    }
    .blogs{
        grid-template-columns: repeat(1,1fr);
    }
    .course-banner
    {
        margin-left: 20px;
    }
    nav
    {
        width: 100vw;
        display: block;
        padding: 10px;
        margin: 0;
    }
    nav ul{
        width: 100vw;
        display: block;
        padding: 0;
    }
    nav ul li
     {
      text-align: center;
      margin-bottom: 10px;
    }
    
}